html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
main,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.u-cf:before,
.u-cf:after {
  content: '';
  display: table;
}
.u-cf:after {
  clear: both;
}
.u-ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
:root {
  color: #fff;
}
.ui-bg {
  background: #439b94 url("../img/bg.jpg") no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ui-bg--attach_fixed {
  background-attachment: fixed;
}
.ui-image {
  overflow: hidden;
  position: relative;
}
.ui-image:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(ellipse at right bottom, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.35) 70%);
}
.ui-image > img {
  width: 100%;
  height: 100%;
}
.ui-image--small {
  width: 4.54545455em;
  height: 4.54545455em;
  border: 1px solid #78c9c4;
  border-radius: 2px;
}
.l-mo__img.ui-image--small {
  margin: 0 0.875em 0 0;
}
.l-mo--inverse .l-mo__img.ui-image--small {
  margin: 0 0 0 0.875em;
}
.ui-image--medium {
  width: 8.75em;
  height: 8.75em;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.l-mo .ui-image--medium {
  margin: 0 1.45454545em 0 0;
}
.l-mo--inverse .ui-image--medium {
  margin: 0 0 0 1.45454545em;
}
.ui-block {
  transition: background-color 0.5s;
}
.ui-block--light {
  background-color: rgba(255, 255, 255, 0.2);
}
.ui-block--dark {
  background-color: rgba(0, 0, 0, 0.4);
}
.ui-rounded--big {
  border-radius: 10px;
}
.ui-rounded--medium {
  border-radius: 5px;
}
.ui-rounded--small {
  border-radius: 2px;
}
.ui-brand-fr-color {
  color: #bcfff5;
}
.ui-brand-bg-color {
  background-color: #bcfff5;
}
.ui-gloss {
  position: relative;
  display: block;
  overflow: hidden;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.1) 50%);
}
.ui-gloss:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 80px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 80px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.7);
}
.ui-emboss {
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 0 24px rgba(255, 255, 255, 0.4), 0 5px 5px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 0 24px rgba(255, 255, 255, 0.4), 0 5px 5px rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.4), 0 5px 5px rgba(0, 0, 0, 0.18);
}
.ui-logo {
  display: inline-block;
  width: 24.625em;
  height: 6.6875em;
  background: url("../img/logo.png") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ui-nav {
  position: relative;
  overflow: hidden;
  padding: 0.875em 0.9375em;
}
.ui-nav__list {
  text-align: justify;
  font-size: 0;
}
.ui-nav__list:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.ui-nav__list__item {
  font-size: medium;
  display: inline-block;
}
.ui-nav__list__item__link {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 0.9375em;
  padding: 0.8em 1.33333333em;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  border-radius: 10px;
  transition: background 0.2s linear, text-shadow 0.2s linear;
}
.ui-nav__list__item__link:hover,
.ui-nav__list__item__link:focus {
  background-color: rgba(255, 255, 255, 0.15);
  text-shadow: 0 0 5px;
}
.ui-nav__list__item__link:active {
  top: 1px;
  position: relative;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background: transparent url("../img/icon-sprite.png") no-repeat 0 0;
}
.ui-icon--rss {
  background-position: 0 0;
}
.ui-icon--twitter {
  background-position: -32px 0;
}
.ui-icon--facebook {
  background-position: -64px 0;
}
.ui-icon--magnify {
  background-position: 0 -32px;
}
.ui-icon--arrow-down {
  background-position: 0 -64px;
}
.ui-icon--arrow-up {
  background-position: -32px -64px;
}
.ui-btn--to-top {
  display: none;
  position: fixed;
  right: 1em;
  bottom: 1.5625em;
  opacity: .5;
  transition: opacity .2s linear;
}
.ui-btn--to-top:hover {
  opacity: 1;
}
.ui-search-form {
  overflow: hidden;
  color: #fff;
  font-size: 0.8125em;
}
.ui-search-form input {
  background: transparent;
  border: none;
  outline: none;
}
.ui-search-form input:focus {
  outline: none;
}
.ui-search-form__input {
  height: 3.15384615em;
  line-height: 3.15384615em;
}
.ui-search-form__input--text {
  width: 82.17821782%;
  float: left;
}
.ui-search-form__input--text input {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 0.92307692em;
}
.ui-search-form__input--submit {
  position: relative;
  width: 17.82178218%;
  float: right;
  background-color: #429993;
  background-image: linear-gradient(#429993, #2b788b);
}
.ui-search-form__input--submit:active .ui-search-form__input--submit__icon {
  top: 1px;
}
.ui-search-form__input--submit__icon {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.ui-search-form__input--submit input {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.ui-side-panel {
  font-size: 0.6875em;
  margin-bottom: 3.63636364em;
  padding: 0.90909091em 1.36363636em;
}
.ui-side-panel__heading {
  font-size: 1.54545455em;
  text-transform: capitalize;
  margin: 0.23529412em 0 0.41176471em;
}
.ui-side-panel__head {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  left: -0.47058824em;
}
.ui-side-panel__head__icon {
  position: relative;
  top: -0.11764706em;
  display: inline-block;
  vertical-align: middle;
}
.ui-list__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.ui-list__item:first-child {
  border-top: none;
}
.ui-list__item:last-child {
  border-bottom: none;
}
.ui-list__item__link {
  display: block;
  position: relative;
  padding: 1.63636364em 0;
  color: inherit;
}
.ui-list__item__link:hover,
.ui-list__item__link:focus {
  text-shadow: 0 0 5px;
}
.ui-list--type_shevron .ui-list__item__link {
  padding-left: 1.63636364em;
}
.ui-list--type_shevron .ui-list__item__link:before {
  content: ">>";
  font-size: 0.45454545em;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 3.6em;
}
.ui-post {
  padding: 1em;
  margin-bottom: 2.1875em;
}
.ui-post--full .ui-post__content {
  overflow: visible;
}
.ui-post__header {
  margin: 0.4375em 0;
}
.ui-post__head {
  font-size: 1.3125em;
  line-height: 1.5;
  font-weight: bold;
}
.ui-post__main-text {
  font-size: 0.6875em;
  line-height: 2;
  color: #bcfff5;
}
.ui-post__main-text p {
  margin-bottom: 1.36363636em;
  text-align: justify;
}
.ui-post__link-more {
  float: right;
  font-size: 0.625em;
  margin-bottom: 1.5em;
  color: inherit;
  text-transform: capitalize;
}
.ui-post__link-more:hover,
.ui-post__link-more:focus {
  text-shadow: 0 0 5px;
}
.ui-post__footer {
  clear: both;
  font-size: 0.625em;
}
.ui-post__footer__meta {
  height: 3.1em;
  line-height: 3.1em;
  padding: 0 0.9em;
  white-space: nowrap;
  border-right: 1px solid;
}
.ui-post__footer__meta:last-child {
  border-right: none;
}
.ui-comments {
  font-size: 1.45454545em;
}
.ui-comments .ui-comments {
  font-size: 1em;
}
.ui-comment {
  margin-bottom: 0;
}
.ui-comment .ui-comment {
  padding-left: 0;
  padding-right: 0;
}
.ui-profile {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  min-width: 20em;
}
.ui-profile__avatar {
  display: inline-block;
  vertical-align: middle;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.625em;
}
.ui-profile__list {
  display: none;
}
:root {
  font: 100%/1 Verdana, Tahoma, Arial, sans-serif;
}
html,
body {
  height: 100%;
}
.l-container {
  width: 62.5em;
  margin: 0 auto;
  padding: 0 3.75em;
}
.l-mo:before,
.l-mo:after {
  content: '';
  display: table;
}
.l-mo:after {
  clear: both;
}
.l-mo__img {
  float: left;
}
.l-mo__content {
  overflow: hidden;
}
.l-mo--inverse .l-mo__img {
  float: right;
}
.layout--cols_2 .layout__main-col-outer {
  float: left;
  width: 100%;
  margin: 0 -22.6875em 0 0;
  /*(303 + 30)px/16*/
}
.layout--cols_2 .layout__main-col {
  margin: 0 22.6875em 0 0;
  /*(303 + 30)px/16*/
}
.layout--cols_2 .layout__side-col {
  float: right;
  width: 18.9375em;
  /* 303px/16 */
}
.layout--cols_2--inverse .layout__main-col-outer {
  float: right;
  width: 100%;
  margin: 0 0 0 -22.6875em;
  /*(303 + 30)px/16*/
}
.layout--cols_2--inverse .layout__main-col {
  margin: 0 0 0 22.6875em;
  /*(303 + 30)px/16*/
}
.layout--cols_2--inverse .layout__side-col {
  float: left;
  width: 18.9375em;
  /* 303px/16 */
}
.l-sticky-footer-fix {
  min-height: 100%;
}
.l-sticky-footer-fix:after {
  content: '';
  display: table;
  height: 5.5625em;
}
.l-footer {
  font-size: 11px;
  margin: -8.09090909em 0 2.45454545em;
  padding: 0 1.90909091em;
  height: 5.63636364em;
  line-height: 5.63636364em;
  clear: both;
}
.l-footer__copy {
  float: left;
}
.l-footer__social {
  float: right;
}
.l-footer__social__icon {
  margin-left: 0.63636364em;
}
.l-header {
  padding: 3.125em 0 3.75em;
}
.l-header__logo {
  float: left;
  position: relative;
  left: -1.125em;
  top: -0.9375em;
}
.l-header__profile {
  float: right;
  position: relative;
}
.l-nav {
  margin-bottom: 1.9375em;
}
.l-search-form {
  margin-bottom: 2.5em;
}
